In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd

In [29]:
df1 = pd.read_csv('/content/drive/MyDrive/Sales Data using SQL/accounts.csv')
df2 = pd.read_csv('/content/drive/MyDrive/Sales Data using SQL/orders.csv')
df3 = pd.read_csv('/content/drive/MyDrive/Sales Data using SQL/region.csv')
df4 = pd.read_csv('/content/drive/MyDrive/Sales Data using SQL/sales_reps.csv')
df5 = pd.read_csv('/content/drive/MyDrive/Sales Data using SQL/web_events.csv')

In [30]:
import sqlite3

In [31]:
conn = sqlite3.connect(':memory:')

# Load data into the SQLite database
df1.to_sql('accounts', conn, index=False)
df2.to_sql('orders', conn, index=False)
df3.to_sql('region', conn, index=False)
df4.to_sql('sales_reps', conn, index=False)
df5.to_sql('web_events', conn, index=False)

8273

In [32]:
def execute_query(query):
    return pd.read_sql_query(query, conn)

**Task 1: Mapping the Commerce of the Midwest.**


Within the database's intricate web, a query unfolds, revealing the tapestry of the "Midwest" region. As the data virtuoso, we unearth the connections, with region names, sales reps, and account names forming the threads of this narrative. Through the meticulous SQL query, we bridge the gaps, forging links from region to representative to account, all within the expansive Midwest. And as the results emerge, ordered alphabetically by account name, the story of commerce in this region comes to life, showcasing the ordered harmony of business relationships in the heart of the Midwest.

In [33]:
query = '''
select r.name as Region, sale.name as rep_name, acc.name as account_name
from accounts as acc join sales_reps as sale
on acc.sales_rep_id = sale.id
join region as r
on sale.region_id = r.id
where r.name = 'Midwest'
order by account_name;
'''
result = execute_query(query)

In [34]:
print(result)

     Region               rep_name                       account_name
0   Midwest            Julie Starr                             AbbVie
1   Midwest            Chau Rowles                Abbott Laboratories
2   Midwest           Cliff Meints                              Aflac
3   Midwest            Chau Rowles                              Alcoa
4   Midwest        Charles Bidwell                       Altria Group
5   Midwest           Delilah Krum                              Amgen
6   Midwest        Charles Bidwell                  Arrow Electronics
7   Midwest           Delilah Krum                         AutoNation
8   Midwest           Delilah Krum              Capital One Financial
9   Midwest         Cordell Rieder                            Centene
10  Midwest  Sherlene Wetherington           Community Health Systems
11  Midwest           Delilah Krum                            Cummins
12  Midwest      Carletta Kosinski                            Danaher
13  Midwest      Carletta Kosinski                     Dollar General
14  Midwest         Cordell Rieder                        Duke Energy
15  Midwest       Kathleen Lalonde                                EMC
16  Midwest           Cliff Meints                          Eli Lilly
17  Midwest        Charles Bidwell                   Emerson Electric
18  Midwest            Chau Rowles                        Halliburton
19  Midwest           Delilah Krum  Hartford Financial Services Group
20  Midwest      Carletta Kosinski                International Paper
21  Midwest           Delilah Krum                     Kimberly-Clark
22  Midwest         Cordell Rieder                             Kohl's
23  Midwest       Kathleen Lalonde                        Kraft Heinz
24  Midwest            Julie Starr                               Lear
25  Midwest            Julie Starr                      ManpowerGroup
26  Midwest      Carletta Kosinski                         McDonald's
27  Midwest      Carletta Kosinski                   Northrop Grumman
28  Midwest           Cliff Meints                             Paccar
29  Midwest       Kathleen Lalonde            Penske Automotive Group
30  Midwest           Delilah Krum                 Plains GP Holdings
31  Midwest  Sherlene Wetherington                        Progressive
32  Midwest        Charles Bidwell                           Qualcomm
33  Midwest           Cliff Meints                           Raytheon
34  Midwest  Sherlene Wetherington                           Rite Aid
35  Midwest           Cliff Meints                     Sears Holdings
36  Midwest           Delilah Krum                 Southwest Airlines
37  Midwest            Chau Rowles                            Staples
38  Midwest        Charles Bidwell                          Starbucks
39  Midwest            Chau Rowles                          Tech Data
40  Midwest        Charles Bidwell                   Tenet Healthcare
41  Midwest  Sherlene Wetherington                  Time Warner Cable
42  Midwest  Sherlene Wetherington                       U.S. Bancorp
43  Midwest       Kathleen Lalonde                   US Foods Holding
44  Midwest            Julie Starr                               USAA
45  Midwest           Cliff Meints                      Union Pacific
46  Midwest        Charles Bidwell                          Whirlpool
47  Midwest           Cliff Meints                              Xerox

**Task 2: Sifting for Gold in the Midwest.**

In the world of Midwest commerce, a query has uncovered a unique facet. By isolating sales representatives with names starting with 'S,' we've unveiled a distinct narrative. The results, elegantly ordered by account name, shed light on the intricate relationships forged by this 'S' factor. It's a story of selective synergy, offering insights into how these representatives connect with various accounts. In the heartland of the Midwest, the data virtuoso has unveiled a fascinating story where a single letter becomes a key to understanding the complex tapestry of sales.

In [35]:
query = '''
select r.name as Region, sale.name as rep_name, acc.name as account_name
from accounts as acc join sales_reps as sale
on acc.sales_rep_id = sale.id
join region as r
on sale.region_id = r.id
where r.name = 'Midwest' and sale.name LIKE 'S%'
order by account_name;
'''
result = execute_query(query)
print(result)

    Region               rep_name              account_name
0  Midwest  Sherlene Wetherington  Community Health Systems
1  Midwest  Sherlene Wetherington               Progressive
2  Midwest  Sherlene Wetherington                  Rite Aid
3  Midwest  Sherlene Wetherington         Time Warner Cable
4  Midwest  Sherlene Wetherington              U.S. Bancorp

**Task 3: Kaleidoscope of Sales.**

In the vast data landscape of Midwest commerce, a unique perspective unfolds. This SQL query spotlights sales representatives with 'K' in their names, revealing the intricate ties between regions, reps, and accounts. The results, thoughtfully sorted by account name, unveil the influence of the 'K' factor. It's a tale of selective synergy, providing insights into the special connections these representatives have with a diverse range of accounts. This Midwest journey, driven by a single letter, offers a captivating snapshot of the complex web of business relationships that define the region.

In [36]:
query = '''
select r.name as Region, sale.name as rep_name, acc.name as account_name
from accounts as acc join sales_reps as sale
on acc.sales_rep_id = sale.id
join region as r
on sale.region_id = r.id
where r.name = 'Midwest' and sale.name LIKE '%K%'
order by account_name;
'''
result = execute_query(query)
print(result)

     Region           rep_name                       account_name
0   Midwest       Delilah Krum                              Amgen
1   Midwest       Delilah Krum                         AutoNation
2   Midwest       Delilah Krum              Capital One Financial
3   Midwest       Delilah Krum                            Cummins
4   Midwest  Carletta Kosinski                            Danaher
5   Midwest  Carletta Kosinski                     Dollar General
6   Midwest   Kathleen Lalonde                                EMC
7   Midwest       Delilah Krum  Hartford Financial Services Group
8   Midwest  Carletta Kosinski                International Paper
9   Midwest       Delilah Krum                     Kimberly-Clark
10  Midwest   Kathleen Lalonde                        Kraft Heinz
11  Midwest  Carletta Kosinski                         McDonald's
12  Midwest  Carletta Kosinski                   Northrop Grumman
13  Midwest   Kathleen Lalonde            Penske Automotive Group
14  Midwest       Delilah Krum                 Plains GP Holdings
15  Midwest       Delilah Krum                 Southwest Airlines
16  Midwest   Kathleen Lalonde                   US Foods Holding

**Task 4: Uncovering Value in Sales.**

Within the intricate sales data tapestry, an intriguing narrative unfolds. The SQL query dissects the connections between regions, accounts, and orders, focusing on those with a standard quantity exceeding 100. The query's results reveal the unit price calculated from the total amount and quantity, offering insights into the worth of each unit within these sales transactions. It's a story of value in commerce, underscoring the significance of each unit's pricing dynamics, inspiring businesses to embrace a deeper understanding of the true worth of their sales units.

In [37]:
query = '''
select r.name as Region, acc.name as account_name, o.total_amt_usd / (o.total+ 0.01) as unit_price
from accounts as acc join sales_reps as sale
on acc.sales_rep_id = sale.id
join region as r
on sale.region_id = r.id
join orders as o
on acc.id = o.account_id
where o.standard_qty > 100
limit 50;
'''
result = execute_query(query)
print(result)

       Region        account_name  unit_price
0   Northeast             Walmart    5.759600
1   Northeast             Walmart    5.965175
2   Northeast             Walmart    5.444236
3   Northeast             Walmart    5.960184
4   Northeast             Walmart    6.168719
5   Northeast             Walmart    6.628910
6   Northeast             Walmart    5.646522
7   Northeast             Walmart    6.033417
8   Northeast             Walmart    6.019492
9   Northeast             Walmart    6.109804
10  Northeast             Walmart    6.391138
11  Northeast         Exxon Mobil    5.054602
12  Northeast               Apple    5.096584
13  Northeast               Apple    5.263203
14  Northeast               Apple    5.120315
15  Northeast               Apple    5.176939
16  Northeast               Apple    5.064018
17  Northeast               Apple    5.093753
18  Northeast  Berkshire Hathaway    5.483687
19  Northeast            McKesson    5.713830
20  Northeast            McKesson    5.157017
21  Northeast            McKesson    5.700722
22  Northeast  UnitedHealth Group    5.346446
23  Northeast  UnitedHealth Group    5.203317
24  Northeast  UnitedHealth Group    4.996325
25  Northeast  UnitedHealth Group    5.388178
26  Northeast  UnitedHealth Group    5.078483
27  Northeast  UnitedHealth Group    5.001227
28  Northeast          CVS Health    5.543245
29  Northeast          CVS Health    5.215494
30  Northeast          CVS Health    5.327233
31  Northeast      General Motors    5.150514
32  Northeast          Ford Motor    5.601537
33  Northeast          Ford Motor    5.224125
34  Northeast          Ford Motor    5.318459
35  Northeast          Ford Motor    5.407441
36  Northeast          Ford Motor    5.720084
37  Northeast          Ford Motor    5.511822
38  Northeast          Ford Motor    5.257023
39  Northeast          Ford Motor    5.391009
40  Northeast          Ford Motor    5.376737
41  Northeast          Ford Motor    5.274691
42  Northeast          Ford Motor    6.283316
43  Northeast          Ford Motor    5.400304
44  Northeast          Ford Motor    5.567637
45  Northeast          Ford Motor    5.196454
46  Northeast          Ford Motor    5.723279
47  Northeast          Ford Motor    5.332718
48  Northeast          Ford Motor    5.508440
49  Northeast          Ford Motor    5.468120

**Task 5: The Art of Pricing.**

Within the expansive sales data landscape, a captivating narrative emerges. This SQL query intricately connects regions, accounts, and orders, with a specific focus on those with a standard quantity exceeding 100 and poster quantities surpassing 50. The results unveil a vital aspect: the unit price, diligently calculated and thoughtfully ordered in ascending fashion.

This is a tale of pricing precision, shining a spotlight on the value of each unit within these complex transactions. It serves as a guide for businesses, helping them comprehend the intricate interplay between value and pricing complexity in the dynamic world of commerce. In this exploration, the data virtuoso plays a pivotal role, unearthing the insights that can shape prosperous decisions for businesses seeking to navigate the value-laden landscape of their sales.

In [38]:
query = '''
select r.name as Region, acc.name as account_name, o.total_amt_usd / (o.total+ 0.01) as unit_price
from accounts as acc join sales_reps as sale
on acc.sales_rep_id = sale.id
join region as r
on sale.region_id = r.id
join orders as o
on acc.id = o.account_id
where o.standard_qty > 100 and poster_qty>50
order by unit_price
limit 50;
'''
result = execute_query(query)
print(result)

       Region                      account_name  unit_price
0        West            Stanley Black & Decker    5.266396
1   Northeast                         Citigroup    5.273081
2   Southeast                         BlackRock    5.278270
3   Southeast                             Nucor    5.289094
4   Northeast                             Merck    5.296391
5     Midwest                    Sears Holdings    5.300912
6   Southeast                         BlackRock    5.301770
7   Northeast                        Fannie Mae    5.303465
8     Midwest                             Aflac    5.305558
9   Northeast               Northwestern Mutual    5.307969
10  Northeast                              TIAA    5.310935
11  Northeast                     Cisco Systems    5.318950
12  Northeast                             FedEx    5.326170
13       West                 Core-Mark Holding    5.328663
14    Midwest                    Dollar General    5.333630
15       West  Thrivent Financial for Lutherans    5.337679
16  Northeast       Philip Morris International    5.339153
17  Northeast       Philip Morris International    5.340240
18  Southeast                      Land O'Lakes    5.340489
19       West                 Core-Mark Holding    5.343204
20  Southeast                         Supervalu    5.347728
21  Southeast                               ADP    5.348600
22       West                 Reynolds American    5.348768
23    Midwest                        AutoNation    5.351093
24       West                              eBay    5.355893
25  Southeast                            Ecolab    5.357762
26  Northeast                         Citigroup    5.358370
27  Northeast                             FedEx    5.358938
28       West            Charter Communications    5.361681
29       West             R.R. Donnelley & Sons    5.361952
30       West            Charter Communications    5.364147
31  Northeast                     Cisco Systems    5.366839
32  Southeast            Performance Food Group    5.370258
33       West                        Unum Group    5.371478
34  Southeast                        Health Net    5.377892
35  Southeast                         BlackRock    5.382070
36  Southeast          Thermo Fisher Scientific    5.387129
37  Southeast                             Nucor    5.388062
38  Southeast                           Kellogg    5.388562
39  Southeast                          Monsanto    5.392332
40  Northeast                             Merck    5.398362
41  Southeast                               ADP    5.405471
42  Southeast                               ADP    5.406828
43       West  Thrivent Financial for Lutherans    5.408913
44  Northeast                            Lowe's    5.410306
45    Midwest                        AutoNation    5.414751
46       West                 Core-Mark Holding    5.414891
47  Northeast                 J.P. Morgan Chase    5.415237
48  Northeast                         Coca-Cola    5.423158
49  Southeast           American Electric Power    5.430177

**Task 6: Cracking the Sales Code.**

In the world of sales analysis, this query is a compass guiding us toward hidden treasures. By isolating orders with specific quantity criteria, we unearth valuable insights into pricing dynamics. The descending order of unit prices exposes products and accounts with the highest worth. This knowledge empowers businesses to optimize pricing strategies and enhance profitability. In a data-rich landscape, such queries are the key to deciphering the complex maze of commerce, shaping the path for smarter decisions in sales.

In [39]:
query = '''
select r.name as Region, acc.name as account_name, o.total_amt_usd / (o.total+ 0.01) as unit_price
from accounts as acc join sales_reps as sale
on acc.sales_rep_id = sale.id
join region as r
on sale.region_id = r.id
join orders as o
on acc.id = o.account_id
where o.standard_qty > 100 and poster_qty > 50
order by unit_price desc
limit 50;
'''

result = execute_query(query)
print(result)

       Region                    account_name  unit_price
0   Northeast                             IBM    8.089906
1        West                          Mosaic    8.066329
2        West                    Pacific Life    8.063023
3   Northeast                             CHS    8.018849
4        West     Fidelity National Financial    7.992802
5     Midwest                          Paccar    7.986962
6   Southeast    PNC Financial Services Group    7.895139
7   Northeast                          Costco    7.789352
8     Midwest                           Amgen    7.753831
9   Southeast                         Aramark    7.635793
10  Northeast          Mondelez International    7.592776
11  Southeast                             CSX    7.560279
12  Southeast            Edison International    7.530563
13    Midwest                           Aflac    7.459659
14  Southeast            Bristol-Myers Squibb    7.401323
15    Midwest               Time Warner Cable    7.394556
16  Northeast                             TJX    7.392951
17  Northeast                General Dynamics    7.331228
18  Southeast                             CBS    7.316410
19  Southeast  Cognizant Technology Solutions    7.298833
20  Southeast      DaVita HealthCare Partners    7.295310
21  Northeast                          Boeing    7.270149
22       West                      BB&T Corp.    7.259396
23  Northeast         Honeywell International    7.235316
24       West                            eBay    7.180694
25       West          Charter Communications    7.175698
26    Midwest               Arrow Electronics    7.172409
27       West                   EOG Resources    7.078284
28    Midwest                            USAA    7.069544
29       West                        Huntsman    7.063634
30  Northeast        Twenty-First Century Fox    6.999505
31  Southeast                      PBF Energy    6.949265
32    Midwest                      AutoNation    6.946824
33  Southeast          National Oilwell Varco    6.922538
34  Southeast            Occidental Petroleum    6.895003
35  Northeast         American Airlines Group    6.880289
36       West                      CST Brands    6.854420
37       West           R.R. Donnelley & Sons    6.825782
38    Midwest                        Raytheon    6.780342
39    Midwest                        Qualcomm    6.773283
40  Southeast                             ADP    6.772607
41  Southeast                          CarMax    6.741833
42  Northeast                     Caterpillar    6.740127
43  Southeast                             ADP    6.687843
44  Northeast                           Aetna    6.670767
45       West                        WestRock    6.663090
46    Midwest                             EMC    6.658006
47  Northeast                       Citigroup    6.646222
48  Northeast                General Dynamics    6.630860
49  Northeast                         Walmart    6.628910

**Task 7: Efficiency through Precision.**

In the world of data analysis, concise queries like this serve a vital role. With a specific focus on orders surpassing defined quantities, this query uncovers the essence of sales - the unit price. Ordering it in descending fashion highlights the most valuable products and accounts, streamlining pricing strategies and profitability.

The query's brevity is intentional, as it succinctly delivers precise, actionable insights. It allows businesses to efficiently navigate the intricate landscape of sales, saving time and resources. In a fast-paced environment, such succinct queries offer the tools needed for informed decision-making, unlocking the potential of sales data with minimal complexity.

In [40]:
query = '''
select r.name as Region, acc.name as account_name, o.total_amt_usd / (o.total+ 0.01) as unit_price
from accounts as acc join sales_reps as sale
on acc.sales_rep_id = sale.id
join region as r
on sale.region_id = r.id
join orders as o
on acc.id = o.account_id
where o.standard_qty > 50 and poster_qty > 25
order by unit_price desc
limit 50;
'''

result = execute_query(query)
print(result)

       Region                    account_name  unit_price
0   Northeast                             IBM    8.089906
1        West                          Mosaic    8.066329
2        West                    Pacific Life    8.063023
3   Northeast                             CHS    8.018849
4        West     Fidelity National Financial    7.992802
5     Midwest                          Paccar    7.986962
6   Southeast    PNC Financial Services Group    7.895139
7   Northeast                          Costco    7.789352
8     Midwest                           Amgen    7.753831
9   Southeast                         Aramark    7.635793
10  Northeast          Mondelez International    7.592776
11  Southeast                             CSX    7.560279
12  Southeast            Edison International    7.530563
13    Midwest                           Aflac    7.459659
14  Southeast            Bristol-Myers Squibb    7.401323
15    Midwest               Time Warner Cable    7.394556
16  Northeast                             TJX    7.392951
17  Northeast                          Disney    7.381408
18       West                  Crown Holdings    7.354299
19  Northeast                General Dynamics    7.331228
20  Northeast                     Caterpillar    7.321467
21  Southeast                             CBS    7.316410
22  Southeast  Cognizant Technology Solutions    7.298833
23  Southeast      DaVita HealthCare Partners    7.295310
24  Northeast                          Boeing    7.270149
25       West                      BB&T Corp.    7.259396
26  Northeast         Honeywell International    7.235316
27       West                            eBay    7.180694
28       West          Charter Communications    7.175698
29    Midwest               Arrow Electronics    7.172409
30  Northeast                          Oracle    7.130414
31       West                   EOG Resources    7.078284
32    Midwest                            USAA    7.069544
33       West                        Huntsman    7.063634
34  Northeast                         Walmart    7.003857
35  Northeast        Twenty-First Century Fox    6.999505
36  Southeast                      PBF Energy    6.949265
37    Midwest                      AutoNation    6.946824
38  Southeast          National Oilwell Varco    6.922538
39  Southeast                      PG&E Corp.    6.912882
40  Southeast            Occidental Petroleum    6.895003
41  Northeast         American Airlines Group    6.880289
42       West                      CST Brands    6.854420
43  Northeast                    Ingram Micro    6.843097
44  Northeast                     Time Warner    6.833305
45       West           R.R. Donnelley & Sons    6.825782
46  Northeast                          Pfizer    6.821645
47  Southeast            Bristol-Myers Squibb    6.820476
48  Northeast                         Walmart    6.780654
49    Midwest                        Raytheon    6.780342

**Task 8: Efficiency in Action.**

By summarizing key sales figures for each account, this query provides a quick, actionable overview of business performance. Its brevity is designed to streamline data analysis, allowing decision-makers to efficiently uncover insights without unnecessary complexity.

In the fast-paced business environment, time is of the essence, and succinct queries enable rapid decision-making. By focusing on essentials, they help businesses access valuable information in a way that's both time-efficient and results-oriented. This query, with its precision and brevity, exemplifies the power of efficient data analysis, shaping success and driving informed decisions.

In [41]:
query = '''
select accounts.name, avg(standard_amt_usd) as Avg_std_amt, avg(gloss_amt_usd) as Avg_gloss_amt, avg(poster_amt_usd) as Avg_poster_amt
from orders join accounts on orders.account_id = accounts.id
group by accounts.name
limit 50;
'''

result = execute_query(query)
print(result)

                             name  Avg_std_amt  Avg_gloss_amt  Avg_poster_amt
0                              3M   841.438750     225.168125      268.467500
1                             ADP  2428.160263     130.680789      442.540000
2                           AECOM  2305.380000      88.810000      126.440000
3                             AES  1734.025000    1554.175000       12.180000
4                             AIG   523.950000     232.190000      146.160000
5                            AT&T   758.301786     106.197500      136.880000
6                          AbbVie   503.990000     108.605000      223.300000
7             Abbott Laboratories   489.269500     244.174000      217.210000
8              Advance Auto Parts  1367.260000     147.927500      225.330000
9                           Aetna  1567.011212     260.334242      304.376970
10                          Aflac  2556.223462     194.163846      745.166154
11       Air Products & Chemicals   545.573333     132.323333      249.013333
12                          Alcoa  2126.987500      48.685000      149.205000
13                       Allstate  1463.733333     242.676000      145.618667
14                 Ally Financial   460.327500      76.772500      300.440000
15                       Alphabet   670.656000     166.278000      183.512000
16                   Altria Group  2479.262308     112.157949      176.349744
17                     Amazon.com  1443.108000     175.266000      315.056000
18        American Airlines Group  2525.563750      38.386250      889.140000
19        American Electric Power  2492.006000      62.916000      136.416000
20               American Express  2473.257857     222.560000       70.180000
21           Ameriprise Financial  2618.869412     121.161765      222.105882
22              AmerisourceBergen  1621.750000     441.910000       93.380000
23                          Amgen   361.775000     214.713333      773.430000
24             Anadarko Petroleum  1278.320588     227.343529      156.668235
25                         Anthem  2699.946429      85.600000       62.060000
26                          Apple  2568.186667     133.571667       92.026667
27              Applied Materials   538.920000      89.880000       81.200000
28                        Aramark   775.945000     651.630000     1255.893333
29         Archer Daniels Midland  1467.716579     397.167105      282.276842
30              Arrow Electronics  1509.081053     247.958421      371.169474
31                       Assurant   583.830000     164.780000      487.200000
32                     AutoNation  2486.233784     153.241351      430.579459
33                       AutoZone  1525.276667     320.405556      158.791111
34                        Autoliv  1559.375000     239.680000      186.760000
35                          Avnet   426.021250     205.038750      254.765000
36                     BB&T Corp.  2951.228571     255.730000      653.660000
37                   Baker Hughes   566.365000     264.022500      203.000000
38          Bank of America Corp.   563.870000     263.148667      229.525333
39  Bank of New York Mellon Corp.  1846.300000     179.760000      129.920000
40           Baxter International  2519.950000      73.830000      423.400000
41               Becton Dickinson  1393.873333     167.276667      235.480000
42              Bed Bath & Beyond   394.210000     561.750000      113.680000
43             Berkshire Hathaway  5728.520000       0.000000     1745.800000
44                       Best Buy   688.032941     142.750588      117.501176
45                         Biogen  1420.486667     192.243333      162.400000
46                      BlackRock  2916.463077     144.230513      139.705641
47                         Boeing  2598.293000      69.657000     1232.616000
48           Bristol-Myers Squibb   509.978000     292.409600      322.526400
49        C.H. Robinson Worldwide  1516.960000     104.860000        8.120000

**Task 9: Streamlining Insights.**

By calculating and summarizing average sales amounts for various product types and generating a total, this query provides a swift, yet comprehensive view of account performance. Its brevity is intentional, designed to streamline data analysis while offering quick access to actionable insights.

In a rapidly evolving business landscape, time efficiency is paramount. Such succinct queries empower decision-makers to swiftly access valuable information and make informed choices without delving into complexity. This query, with its precision and efficiency, exemplifies the power of streamlined data analysis, shaping success and driving effective decisions in a fast-paced environment.

In [42]:
query = '''
select accounts.name, avg(standard_amt_usd) as Avg_std_amt , avg(gloss_amt_usd) as Avg_gloss_amt, avg(poster_amt_usd) as Avg_poster_amt,
avg(standard_amt_usd)+ avg(gloss_amt_usd)+ avg(poster_amt_usd) as total_spending
from orders join accounts on orders.account_id = accounts.id
group by accounts.name
order by total_spending desc
limit 50;
'''

result = execute_query(query)
print(result)

                            name  Avg_std_amt  Avg_gloss_amt  Avg_poster_amt  \
0                   Pacific Life  2702.708750     147.927500    28732.620000
1    Fidelity National Financial  2299.677143      28.890000    13221.680000
2                            CBS  1482.030000     239.680000     6926.360000
3             Berkshire Hathaway  5728.520000       0.000000     1745.800000
4           Edison International  1636.720000      29.960000     5651.520000
5                         Costco   823.350000    1956.762500     4461.940000
6                            CHS  1387.576429     323.140000     5525.080000
7         Mondelez International  2423.476667     161.035000     3323.786667
8              Core-Mark Holding  5424.261316      83.966842      119.449474
9                       Huntsman  2501.653333     699.066667     2354.800000
10                        Disney  2316.573784    2644.577297      163.277838
11                      GameStop  2428.258750    1973.615000       48.720000
12                General Motors  4006.970000     232.190000      154.280000
13                       Praxair  4219.045000      76.772500       83.230000
14                        Paccar   924.443704    2065.020741     1357.543704
15                 EOG Resources   505.502121    3498.964848      287.890909
16                        Mosaic  1581.290541     291.705135     2356.336216
17                   Xcel Energy  2456.078000    1376.662000       86.072000
18                        Boeing  2598.293000      69.657000     1232.616000
19                    BB&T Corp.  2951.228571     255.730000      653.660000
20                   Toys 'R' Us  1482.030000    2155.247500      185.745000
21                     Citigroup  2852.047632     551.697632      409.632632
22                         Cigna  3412.677097     237.988710      106.345806
23       Honeywell International  2535.395238     188.320000      817.026667
24                           TJX  2824.642424     193.151212      511.806061
25                           IBM   515.318649     258.303784     2723.272432
26                         Aflac  2556.223462     194.163846      745.166154
27             Molina Healthcare  2700.005833     559.877500      217.210000
28       American Airlines Group  2525.563750      38.386250      889.140000
29        Navistar International  2559.870000      98.618333      787.640000
30  Enterprise Products Partners  1489.515000    1722.700000      211.120000
31         R.R. Donnelley & Sons  2570.848000     110.852000      699.944000
32                 ManpowerGroup  3305.875000      41.195000       16.240000
33                Morgan Stanley  2641.706000     612.682000       77.952000
34                    Unum Group  2544.900000     611.683333      166.460000
35                           AES  1734.025000    1554.175000       12.180000
36                  Office Depot  3132.952308      80.661538       70.581538
37              Western Refining  2488.901111     658.842593      123.604444
38                        Ecolab  2435.645263     609.055263      213.470526
39                 Union Pacific  2619.750000     189.390000      444.280000
40                          eBay  2617.047083     134.195833      468.930000
41             J.P. Morgan Chase  2532.524800     474.866000      203.974400
42                      Qualcomm  2652.351333      70.905333      483.410667
43                     BlackRock  2916.463077     144.230513      139.705641
44                          USAA  1663.666000     353.528000     1151.416000
45           Principal Financial  2447.595000     348.285000      351.190000
46              Waste Management  2939.110000       0.000000      162.400000
47                Dollar General  2754.123571      79.715000      265.640000
48                    AutoNation  2486.233784     153.241351      430.579459
49            Marathon Petroleum  2534.781389     370.546944      162.625556

    total_spending
0     31583.256250
1     15550.247143
2      8648.070000
3      7474.320000
4      7318.200000
5      7242.052500
6      7235.796429
7      5908.298333
8      5627.677632
9      5555.520000
10     5124.428919
11     4450.593750
12     4393.440000
13     4379.047500
14     4347.008148
15     4292.357879
16     4229.331892
17     3918.812000
18     3900.566000
19     3860.618571
20     3823.022500
21     3813.377895
22     3757.011613
23     3540.741905
24     3529.599697
25     3496.894865
26     3495.553462
27     3477.093333
28     3453.090000
29     3446.128333
30     3423.335000
31     3381.644000
32     3363.310000
33     3332.340000
34     3323.043333
35     3300.380000
36     3284.195385
37     3271.348148
38     3258.171053
39     3253.420000
40     3220.172917
41     3211.365200
42     3206.667333
43     3200.399231
44     3168.610000
45     3147.070000
46     3101.510000
47     3099.478571
48     3070.054595
49     3067.953889

**Task 10: Efficiency in Data Insight.**

By counting occurrences of channels associated with sales representatives and sorting them in descending order, this query rapidly reveals the most frequent engagement channels. Its brevity is a strategic choice, aimed at swiftly delivering actionable insights without unnecessary complexity.

In a dynamic business landscape, time efficiency is a critical factor. Such succinct queries empower decision-makers to quickly access valuable information, facilitating informed decisions without cumbersome data analysis. This query, with its precision and brevity, exemplifies the power of streamlined data analysis, optimizing engagement strategies and driving results in a fast-paced environment.

In [45]:
query = '''
select sale.name, web.channel, count(web.id) as event_occurred
from web_events as web join accounts as acc
on web.account_id = acc.id
join sales_reps as sale
on acc.sales_rep_id = sale.id
group by sale.name, web.channel
limit 50;
'''

result = execute_query(query)
print(result)

                 name   channel  event_occurred
0     Akilah Drinkard   adwords               5
1     Akilah Drinkard    banner               9
2     Akilah Drinkard    direct              53
3     Akilah Drinkard  facebook               9
4     Akilah Drinkard   organic              15
5     Akilah Drinkard   twitter               2
6     Arica Stoltzfus   adwords               4
7     Arica Stoltzfus    banner               6
8     Arica Stoltzfus    direct             119
9     Arica Stoltzfus  facebook               7
10    Arica Stoltzfus   organic               5
11      Ayesha Monica   adwords               9
12      Ayesha Monica    banner               7
13      Ayesha Monica    direct              70
14      Ayesha Monica  facebook              15
15      Ayesha Monica   organic              22
16      Ayesha Monica   twitter               9
17     Babette Soukup   adwords               7
18     Babette Soukup    banner               8
19     Babette Soukup    direct              59
20     Babette Soukup  facebook               8
21     Babette Soukup   organic               2
22     Babette Soukup   twitter               3
23       Brandie Riva   adwords              18
24       Brandie Riva    banner               4
25       Brandie Riva    direct             121
26       Brandie Riva  facebook              16
27       Brandie Riva   organic              15
28       Brandie Riva   twitter               9
29     Calvin Ollison   adwords              21
30     Calvin Ollison    banner              10
31     Calvin Ollison    direct             139
32     Calvin Ollison  facebook              22
33     Calvin Ollison   organic              21
34     Calvin Ollison   twitter               8
35        Cara Clarke   adwords               9
36        Cara Clarke    banner               5
37        Cara Clarke    direct              42
38        Cara Clarke  facebook               3
39        Cara Clarke   organic               8
40        Cara Clarke   twitter               1
41  Carletta Kosinski   adwords              11
42  Carletta Kosinski    banner               6
43  Carletta Kosinski    direct              54
44  Carletta Kosinski  facebook              13
45  Carletta Kosinski   organic              14
46  Carletta Kosinski   twitter               4
47    Charles Bidwell   adwords              18
48    Charles Bidwell    banner              16
49    Charles Bidwell    direct             159

**Task 11: Swift Insights.**

By extracting and summing annual sales totals and arranging them in ascending order, this query provides rapid access to key revenue trends. Its brevity is a deliberate choice, crafted for efficient data analysis that delivers quick, actionable insights.

In the fast-paced business environment, time efficiency is a precious asset. Such succinct queries empower decision-makers to promptly uncover valuable information and make informed choices without getting lost in complexity. This query, with its precision and brevity, embodies the power of streamlined data analysis, shaping a more informed approach to business decision-making.

In [48]:
query = '''
select strftime('%Y', occurred_at) as year, sum(total_amt_usd) as total_rev
from orders
group by year
order by year
'''

result = execute_query(query)
print(result)

   year   total_rev
0  2013   177253.97
1  2014  1676803.62
2  2015  2659633.12
3  2016  5891837.74
4  2017    23424.03

**Task 12: Yearly Revenue Insights.**

By extracting and summing monthly sales totals for specific years and arranging the results by year, it swiftly reveals revenue patterns. Its brevity is strategic, enabling rapid data analysis for quick access to actionable insights.

In the fast-paced business world, time is of the essence. Such succinct queries empower decision-makers to promptly uncover valuable information, streamlining the path to informed choices without unnecessary complexity. This query, with its precision and brevity, showcases the value of streamlined data analysis, facilitating a more agile approach to making business decisions.

In [53]:
query = '''
SELECT strftime('%Y', occurred_at) AS year, strftime('%m', occurred_at) AS month, SUM(total_amt_usd) AS total_rev
FROM orders
WHERE strftime('%Y', occurred_at) IN ('2013', '2017')
GROUP BY month, year
ORDER BY year, month;
'''

result = execute_query(query)
print(result)

   year month  total_rev
0  2013    12  177253.97
1  2017    01   23424.03

**Task 13: Unveiling Daily Sales.**

This compact query serves a specific purpose. It extracts and sums daily sales totals for the year 2017, providing insights into daily revenue trends. Its brevity is intentional, designed for efficient data analysis that offers quick access to granular insights.

In a fast-moving business landscape, time efficiency is invaluable. Such concise queries empower decision-makers to swiftly uncover detailed information and make informed choices without wading through unnecessary complexity. This query, with its precision and brevity, exemplifies the power of streamlined data analysis, revealing daily sales nuances and enabling agile decision-making.

In [52]:
query = '''
select strftime('%d', occurred_at) as day, strftime('%m', occurred_at) as month, strftime('%Y', occurred_at) as year, sum(total_amt_usd) as total_rev
from orders
where strftime('%Y', occurred_at) = '2017'
group by day, month, year;
'''

result = execute_query(query)
print(result)

  day month  year  total_rev
0  01    01  2017   23424.03

**Task 14: Unlocking New Year's Data.**

This concise query has a clear purpose in the world of data analysis. It extracts and summarizes daily sales totals specifically for January 1st, offering insights into the start of each year. Its brevity is deliberate, designed to efficiently uncover granular insights without unnecessary complexity.

In a dynamic business environment, time efficiency is essential. Such succinct queries empower decision-makers to rapidly access precise information, aiding informed choices without cumbersome data analysis. This query, with its precision and brevity, showcases the power of streamlined data analysis, uncovering specific details for agile decision-making in the fast-paced business landscape.

In [54]:
query = '''
select strftime('%d', occurred_at) as day, strftime('%m', occurred_at) as month, strftime('%Y', occurred_at) as year, sum(total_amt_usd) as total_rev
from orders
where strftime('%d', occurred_at) = '01' and strftime('%m', occurred_at) = '01'
group by day, month, year
order by year;
'''

result = execute_query(query)
print(result)

  day month  year  total_rev
0  01    01  2014    7453.77
1  01    01  2015    7747.95
2  01    01  2016    6499.10
3  01    01  2017   23424.03

**Task 15: Walmart's Triumph.**

This query efficiently extracts the highest monthly gloss sales for 'Walmart,' showcasing detailed insights into their performance. Its brevity is strategic, enabling rapid access to the most critical data without unnecessary complexity.

In the fast-paced world of business, time efficiency is invaluable. Such succinct queries empower decision-makers to swiftly access precise information, aiding quick and informed choices without delving into unnecessary data layers. This query, with its precision and brevity, embodies the power of streamlined data analysis, helping businesses extract vital insights with minimal effort.

In [57]:
query = '''
select a.name, strftime('%m', occurred_at) as month, strftime('%Y', occurred_at) as year, sum(gloss_amt_usd) as total_gloss_rev
from orders as o left join accounts as a
on o.account_id = a.id
where a.name = 'Walmart'
group by a.name, year,month
order by total_gloss_rev desc
limit 1;
'''

result = execute_query(query)
print(result)

      name month  year  total_gloss_rev
0  Walmart    10  2016          1071.07